@import url(https://fonts.googleapis.com/css?family=Lato);

#toast {
  width: 80%;
  height: 50px;
  background-color: rgba(31, 29, 29, 0.7);
  color: #000;
  z-index: 9999999;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50px;
  opacity: 0;
  text-align: center;
  transition: all .3s ease-out;
  box-shadow: 5px 7px 5px #4C4949;
}

#toastText {
    margin-top: 8px;
    color: #FFF;
    font-family: "Lato", sans-serif;
}